.container{display: block; width: 100%;background:#64374d;}
.row{width: 60%;display: flex;margin: 0 auto;background: rosybrown;}
.col{ border-radius: 12px;
    border: 6px solid crimson;display:flex;justify-content:center;width: 100px;height:100px; background:#ffc584;gap:30px;margin:30px}

