body {
    background: #f5f5f5;
}   
    
    .circulo-b{
        border-radius: 50%;
        height: 0;
        width: 0;
        border-top: 5em solid #43b5a9;
        border-right: 5em solid rgb(240, 241, 141);
        border-bottom: 5em solid #e95070;
        border-left: 5em solid #f8f3d9;
     margin:0 auto; transform: rotate(-45deg) translateY(10px);}

.container{ display: flex;
   background:#e95070;}
.circulo{background: #e95070;width: 50%;margin: 0 auto;height: 200px;}
